services:
  planner:
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
  gateway:
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
  gwfwd:
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
