# C:\Users\DELL\Desktop\gw_stack\docker-compose.yml
services:
  planner:
    build:
      context: ./planner
      dockerfile: Dockerfile
    ports:
      - "19090:9090"
    restart: unless-stopped

  gwfwd:
    image: alpine/socat
    command: ["-T","1","TCP-LISTEN:38888,fork,reuseaddr","TCP:planner:9090"]
    depends_on:
      - planner
    ports:
      - "38888:38888"
    restart: unless-stopped

  gateway:
    image: nginx:1.25-alpine
    depends_on:
      - planner
    ports:
      - "8088:8088"
    volumes:
      - ./infra/gateway/default.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped
